---
layout: page
type: article
---
<p><a href="../">início</a> / <a href="../service.html">diretório</a></p>

<p>A instituição <strong>{{page.title}}</strong> é uma instituição de <strong>{{page.tipo-ensino}}</strong> do tipo <strong>{{page.tipo-instituicao}}</strong> localizada no distrito de <strong>{{page.distrito}}</strong>.</p>

{%- if page.sa-nome -%}
	<h2>Serviço de apoio a estudantes com deficiência</h2>
	<p>Designação do serviço de apoio: <em>{{page.sa-nome}}</em></p>
	<dl>
	<dt>Contactos:</dt>
		{%- if page.sa-tels -%}<dd>Telefone(s): {{page.sa-tels}}</dd>{%- endif -%}
		{%- if page.sa-emails -%}<dd>E-mail(s): {{page.sa-emails}}</dd>{%- endif -%}
		{%- if page.sa-morada-l1 -%}<dd>{{page.sa-morada-l1}}
			{%- if page.sa-morada-l2 -%}<br>{{page.sa-morada-l2}}</dd>
			{%- else -%}</dd>{%- endif -%}
		{%- endif -%}
		{%- if page.sa-morada-cp -%}<dd>{{page.sa-morada-cp}}</dd>{%- endif -%}
	</dl>
{%- else -%}
		<div class="waring">
			<p><strong>NOTA:</strong> Não identificámos a existência de um serviço de apoio para esta instituição. Caso tenha conhecimento de um serviço específico a funcionar na instituição contacte-nos através do email: <a href="mailto:info@gtaedes.pt">info@gtaedes.pt</a>.</p>
		</div>
{%- endif -%}